<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <!-- BootstrapのCSS読み込み -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  </head>
  <body>
    <!-- メインコンテンツの部分 -->
    <div class="container"><%- include(body) %></div>

    <!-- Bootstrap JS -->
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
